.body{
    display: flex;
    flex-direction: column;
}

.icon-container{
    width: 100%;
}

ion-icon{
    font-size: 5vw !important;
    margin: 5% 0% 0% 5%;
}

#star{
    margin: 0% 0% 0% 0%;
    font-size: 4vw !important;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0% 0% 25% 25%;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.125));
    .img{
        height: 50vw;
        width: 48%;
    }
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vw;
}

.types{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    margin: 0% 13% 0% 13%;
    width: 26%;
    height: 7vw;
}

.sizes{
    display: flex;
    flex-direction: row;
}

.weight{
    width: 30%;
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 20% 0% 0%;
    span{
        font-size: 3.5vw;
    }
}

.height{
    width: 30%;
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0% 20%;
    span{
        font-size: 3.5vw;
    }
}

.value{
    font-size: 5vw !important;
    margin-bottom: 7.5%;
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: darkgray;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5% 0% 2.5% 2.5%;
    .stat-name{
        color: darkgray;
        font-size: 5vw;
    }
}

.stat-table{
    width: 115vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 5.5% -12%;
}

.stat-container{
    width: 15%;
    display: flex;
    flex-direction: column;
}

span{
    font-weight: bold;
}


.parent{
    display: flex;
    width: 60%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 0px 25px 25px 0px;
}

.container{
    border-radius: 0px 25px 25px 0px;
}

.bar{
    border-radius: 25px;
    min-width: 20%;
    text-align: end;
}

.stat-value{
    margin-right: 3%;
}